@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
.instructions{
font-family: 'Montserrat';
font-weight: 1000000;
color: black;
border: black;
border-radius: 20px;
font-size: 20px;
/* width: 0px; */
}
body{
    font-family: 'Montserrat';
    background-color: whitesmoke;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.clearFix{
    clear: both;
}
#mainHeader{

    color: white; 
}
#mainNav{
    background-color: black;
    color:white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#mainNav u1{
padding: 0;
margin: 0;
list-style: none;
}
#mainNav li{
    display: inline;
    padding: 5px 10px;
}
#mainNav a{
    color:white;
    text-decoration: none;
    font-size: 18px;
}
#mainNav li:hover{
    background: #aaa;
}

/* Game */
@media (max-width:600px){
    #main, #sidebar{
        width: 100%;
        float: none;
        border: none;
    }
}
*{
    padding: 0;
    margin: 0;
}
#game{
    background-color: black;
    width: 400px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
}
#character{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    top: 440px;
    left: 190px;
    z-index: 1000000;
}
.block{
    width: 400px;
    height: 20px;
    background-color: white;
    position: relative;
    top: 100px;
    margin-top: -20px;
}
.hole{
    width: 40px;
    height: 20px;
    background-color: black;
    position: relative;
    top: 100px;
    margin-top: -20px;
}
.instructions{
margin-left: 50px;
}