
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
body{
    background-color: whitesmoke;
    color: black;
    font-family: "Montserrat","Montserrat" ;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}
.container{
    width: 80%;
    margin: -.7% auto auto;
    overflow: hidden;
}
.clearFix{
    clear: both;
}
#mainHeader{
    background: black;
    color: white;
}
#mainNav{
    background-color: black;
    color:black;
    position: -webkit-sticky;
    position: sticky;
    z-index: 5;
    align-items: center;
    top: 0;
    box-shadow: 3px 3px 12px;
}

#mainNav u1{
padding: 0;
margin: 0;
list-style: none;
}
#mainNav li{
    display: inline;

    /* padding: 7px 20px; */
}
#mainNav a{
    float: left;
    color:white;
    text-decoration: none;
    font-size: 18px;
    padding: 7px 15px;
}
#mainNav li:hover{
    float: left;
    background: #aaa;
}
#jumbo{
    text-align: center;
}

#jumbo h1{
    background-image: url('stars.jpg');
    background-size: 500px;
    margin: 3% 0px -5px;
    padding: 10px 10px;
    color: white;
    font-size: 45px;
    padding-top: 20px;
    line-height: 1.6em;
}
h1{
    color:black;
}
#jumbo h2{
    
    float: left;
}
#main{
    border-radius: 10px;
    color: white;
    height: auto;
    line-height: 3px;
    background-color: black;
    /* box-shadow: 3px 5px 12px gray; */
}

#main h2
{
    transform: translate(20%,50%);
    text-align: start;
    float: left;
    font-size: 40px;
    line-height: 30px;
    /* padding-right: 50%; */
    box-sizing: border-box;
}
#main p{

    font-size: 50px;
    font-weight: bold;
    font-family: 'Raleway';
    /* margin: 45px 0px 50px;   */
}
#main p2{
    font-size: 30px;
    line-height: 30px;
    
    font-weight: lighter;
    font-family: 'Raleway';
    /* margin: 45px 0px 50px;   */
}
#main h3{
   /* bottom: 40px; */
  
   transform: translate(20%, 0%);
   /* transform: scale(.8); */
}
#main h4{
    float: right;
    padding: 0px 50px;
    /* width: 20px;
    height: 20px; */
}
.hover:hover {
    position: relative;
    transition: transform .2s;
    transform: scale(1.3);
  margin: 0 auto;

}
.about-section{
    z-index: 0;
    width: 90%;
    height: 300px;
    background: black;
    color: white;
    border-radius: 20px;

    display: flex;
    margin: -2% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
.about-section p:nth-child(1){
    font-family: "Raleway";
    font-size: 30px;
    font-weight: bolder;
}
.about-section p:nth-child(2){
    font-family: "Montserrat";
    font-weight: bolder;
    font-size: 20px;
}


.resume{
    height: 30px;
    width: 130px;
    font-family: "Montserrat";
    border-radius: 20px;
    font-weight: bold;
    color: white;
    background-color: black;
    border-color: white;
    font-size: 14;
    z-index: 4;
    float: right;
    margin-top: 200px;
}

#sidebar{
    float: left;
    width: 30%;
    padding: 10px;
    border-right: 1px solid black;
    box-sizing: border-box;
    letter-spacing: .2em;
    word-spacing: 1em;
}
#mainfooter{
    font-size: 20px;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    margin-top: 30px;
}
#fixed{
    font-size: 20px;
    position: fixed;
    bottom: 0;
    right: 50px;
    background:white;
    padding: 5px;
}
.games{
text-align: center;
position: relative;
color: black;
font-size: 30px;
margin-bottom: 30px;
}
.contact{
    text-align: center;
    font-size: 40px;
    color: black;
    line-height: 30px;
}
/* #pExample{
    width: 400px;
    height: 400px;
    border: 1px solid #333;
    border-radius: 20px 10px 0 5px;
    position: relative;
}
#pExample span:first-child{
    position: absolute;
    bottom: 20px;
    right: 100px;
    font-style: italic;
    font-weight: 800;
    text-decoration: underline;
    text-transform: uppercase;
}
#pExample span:last-child{
    position: absolute;
    top: 100px;
    left: 30px;
}
#fixed{
    position: fixed;
    bottom: 0;
    right: 50px;
    background: #ff652f;
    padding: 5px;
}
@media (max-width:600px){
    #main, #sidebar{
        width: 100%;
        float: none;
        border: none;
    }
}
#game{
    width: 400px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
}
#character{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    top: 440px;
    left:190px;
    z-index: 100000;
} */

/* p{
    border-top: 5px solid blue;
    border-right: 2px dotted green;
    border-bottom: 5px dashed red;
    border-left: 2px dotted green;
    border: 3px solid green;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding: 10px 20px 10px 20px;
    padding: 10px 20px;
    padding: 20px;
    margin-top: 40px;
} */